<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <title>Comment</title>
</head>
<body>
	<div></div>
	<div>
		<table>
			<% if(<%= user_id %>!=null){ %>
			<% comments.forEach(function(comment){%>
			<tr>
				<td>
					<%= user_id %> :
				</td>
				<td>
					<%= comment %>
				</td>
				<td>
					<button value="삭제"></button>
				</td>
			</tr>
			<% }); %>
			<% } %>
		</table>
		<a href="/makeComment"><div clss="btn">댓글 달기</div></a>
	</div>
</body>
</html>
