<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="firstpage.css">
<meta charset="UTF-8">
<title>FirstPage</title>
</head>
<body>
	<h1>삼시한끼</h1>

<div>
  <button onclick="user()">사용자</button>
  <button onclick="store()">가게</button>
</div>
<script type="text/javascript">
  function user(){
    location.href="/userLogin";
  }
  function store(){
    location.href="/storeLogin";
  }
</script>

</body>
</html>

