h1{
	text-align: center;

}
div{
	margin-top:40%;
}

button{
	background-color: purple;
	border: none;
	padding: 2em 3em;
	border-radius: 5px;
	color: white;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}
