p{
  background-color:#3499DB;
  padding :5px;
  font-size:20px;
  color:white;
  font-family:sans-serif;
  font-weight:bold;
}

table{
  background-color:skyblue;
  width:100%;
}
td{
  border:1px solid blue;
}
#back{
 position:absolute;
 top:10px;
 left:10px;
}
