h3{
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;	
}
a{
  color: black;
  background-color:aliceblue;
  text-align:center;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
}
div{
  text-align:left;
  padding-bottom: 30px;
 
}

