

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

</head>
<body>

<form action="/form_receiver" method="post">
<p>
<input type = "text" name = "title">
</p>

   <p>
        <input type="submit" value="확인">
</p>
</form>


</body>
</html>                                    

