<!DOCTYPE html>
<html>

<head>
  <link href="login.css" type="text/css" rel="stylesheet" />
  <link href="register.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <form action="/userlogin" method="post">
    <table>
      <tbody>
        <tr class="banner">
          <td>
            <h3>로그인 화면</h3>
          </td>
        </tr>
        <tr>
          <td>
            <div class="floating-input">
              <input required id='id' type="text" name="user_id" />
              <label for="id">ID</label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="floating-input">
              <input required id='password' type="password" name="user_pw" />
              <label for="password">Password</label>
            </div>
          </td>
        </tr>
        <tr class="row">
          <td>
            <div class="input-button">
              <input type="submit" value="Log In" />
              <div class="ripple-container"></div>
            </div>
          </td>
        </tr>
        <tr class="row-signin">
          <td>
            <div class="div-register-button">
              <button class="btn-register" onclick="registerPageMove()">Sign In</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <script type="text/javascript">
    function registerPageMove() {
      location.href = "/userRegister";
    }
  </script>
</body>

</html>
