.title{
  padding-top:0px;
  border-bottom:1px solid white;
}
.bar{
  display:grid;
  grid-template-columns:auto auto;
  grid-template-rows:auto;
  padding-bottom:0;
}
div{
  background-color:skyblue;
  color:white;
  padding:10px;
  font-size:20px;
  font-weight:bold;
  text-align:center;
}
