<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="usermain.css">
<script   
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


<style>
	.top{
  background-color:skyblue;
  font-size: 20px;
  color:white;
  text-align:center;
}
.menu{
  border-right:1px solid;
  text-align:center;
  width:200%;
}
p{
  font-size:15px;
  
}
{
  height:100%;
  width:100%;
}
</style>

<title>UserMainPage</title>
</head>
<body>
	<div class="top"><div>삼시한끼</div>
      <table>
		<tr>
      <td>
   		<a onclick="search()"><div class="menu"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 검색</div></a></td>
   		<td> <a onclick="followstore()"> <div class="menu">관심 가게</div></td>
		</tr>  
      </table>
 	</div>


	<p>할인 가게 목록</p>
	<!-- if(follower.owner_id !=null?) -->
	<%# product_info.sale %>
	
	<% list.forEach(function(list){ %>	
		<span onclick=location.href="/saleDetail">
		<%= list.content %>
		</span>
		<br>
		<% }); %>

	<table>
		<tr>
		<td>
			<img src=" <%= url %> " alt="사진" width:'100' height='100'>
		</td>
		</tr>
		<tr>
		<td>
		내용: <%= content %>
		</td>
		</tr>
		
	</table>
	<script>
		function search(){
			location.href="/search";
		}
		function followstore(){
			location.href="/followStore";
		}
	</script>
</body>
</html>

