<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <title>ContentDetail</title>
  <style>
    header {
      text-align: left;
      background-color: #3498DB;
      padding: 5px;
      font-size: 20px;
      color: white;
      font-family: sans-serif;
      font-weight: bold;
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <div>
    <div>
      <img src=" <%= contents.url %> " alt="사진" width="100%">
    </div>
    <div>
      <p> <span style="font-weight: bold; font-size: 1.2em;"><%= contents.owner_id %></span> <%= contents.content %> </p>
      <br>
      <p>게시일 : <%= contents.date %> </p>
    </div>
    <div>
    </div>
</body>

</html>
