<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
</head>

<body>
  <table>
    <tr>
    <%for(var i = 0; i < contents.length; i++){%>
      <td><img src="<%=contents[i].image_url%>">
        <%=contents[i].store%>
      </td>
    <%}%>
    </tr>
  </table>
</body>

</html>
