<!DOCTYPE html>
<html lang="kr" dir="ltr">

<head>
  <meta charset="utf-8">
  <style>
    html,
    form,
    table,
    tbody,
    body,
    iframe {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    td,
    h1,
    h2,
    h4 {
      margin: 0;
      padding: 0;
    }

    #footer {}

    #header {}

    #img1 {}

    #imgDiv1 {}

    #footer>td {
      width: 33%;
      text-align: center;
    }

    .title {
      background-color: #e3afed;
      color: #000000;
      text-align: center;
    }
  </style>
  <script>
    setTimeout(function() {
      var trash = document.getElementById('sa-extension-is-installed');
      var body = document.getElementById('body');
      //body.removeChild(trash);
      trash.parentNode.removeChild(trash);
      clearTimeout();
    }, 500);

    function setSize() {
      var header = document.getElementById('header');
      header.style.height = window.innerHeight * 0.08 + 'px';
      var footer = document.getElementById('footer');
      footer.style.height = window.innerHeight * 0.08 + 'px';
      var img1 = document.getElementById('img1');
      img1.style.height = window.innerHeight * 0.08 + 'px';
      var img2 = document.getElementById('img2');
      img2.style.height = window.innerHeight * 0.08 + 'px';
      var img3 = document.getElementById('img3');
      img3.style.height = window.innerHeight * 0.08 + 'px';
    }
    window.onload = function() {
      setSize();
      window.addEventListener('resize', setSize);
    }
  </script>
</head>

<body id="body">
  <table>
    <tr id="header" style="">
      <td class="title" colspan="3">삼시한끼</td>
    </tr>
    <tr id="timeline">
      <td colspan="3"><iframe src="<%=iframeUrl%>" frameborder="0" width="100%" height="100%" marginwidth="0" marginheight="0"></iframe></td>
    </tr>
    <tr id="footer">
      <td>
        <img id="img1" src="https://cdns.iconmonstr.com/wp-content/assets/preview/2012/240/iconmonstr-home-6.png" onload="setSize();">
      </td>
      <td>
        <img id="img2" src="https://cdns.iconmonstr.com/wp-content/assets/preview/2012/240/iconmonstr-magnifier-1.png" onload="setSize();">
      </td>
      <td>
        <img id="img3" src="https://cdns.iconmonstr.com/wp-content/assets/preview/2012/240/iconmonstr-favorite-3.png" onload="setSize();">
      </td>
    </tr>
  </table>
</body>

</html>
