<!DOCTYPE html>
<html lang="kr" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<style>
  html,
  form,
  table,
  tbody,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  td {
    margin: 0;
    padding: 0;
  }

  .floating-input {
    display: block;
    width: 300px;
    margin: 30px auto;
  }

  .floating-input label {
    position: absolute;
    font-family: Roboto, arial, sans-serif;
    color: #757575;
    font-size: 18px;
    margin-top: -30px;
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: text;
    margin-left: 0;
    display: block;
  }

  .floating-input input {
    border: none;
    border-bottom: 1px solid #757575;
    outline: none;
    width: 300px;
    padding: 5px 0;
    font-size: 18px;
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
  }

  .floating-input input:valid+label {
    margin-top: -50px;
    font-size: 12px;
    color: #555555;
  }

  .floating-input input:focus {
    border-bottom: 1px solid #2A9AF2;
    box-shadow: 0px 1px 0px 0px #2A9AF2;
  }

  .floating-input input:focus+label {
    margin-top: -50px !important;
    color: #2A9AF2 !important;
    font-size: 12px !important;
  }

  .input-button>input[type="submit"] {
    background-color: #2A9AF2;
    border: none;
    color: #FFFFFF;
    border-radius: 3px;
    width: 100px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    padding: 10px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }

  input[type="submit"]:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .input-button {
    width: 100px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
  }

  .input-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px); //border-bottom: 1px solid;
  }

  .ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
  }

  .ripple {
    background-color: rgba(255, 255, 255, .6);
    position: absolute;
    z-index: 10;
    border-radius: 100%;
    animation-name: ripple;
    animation-iteration-count: 1;
    animation-duration: .55s;
    width: 10px;
    height: 10px;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    animation-timing-function: linear;
  }

  @keyframes ripple {
    from {
      width: 0;
      height: 0;
      opacity: 1;
    }
    to {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  .profileContainer {
    text-align: center;
    width: 48px;
    height: 48px;
  }

  .form-profile-image {
    position: absolute;
    width: 99%;
    border: 2px dotted black;
  }

  .input-file {
    position: relative;
    top: -52px;
    left: 0px;
    width: 100%;
    height: 300px;
    opacity: 0;
  }
</style>

<body>
  <article>
    <p id="status">이미지를 선택해주세요</p>
    <form class="form-profile-image" action="<%=writeContentImageUrl%>" method="post" enctype="multipart/form-data" >
      <input class="input-file" type="file" name="img_files[]" accept="image/*">
      <div class="input-button">
        <input type="submit" value="저장">
      </div>
    </form>
    <div class="input-button" style="position: absolute; bottom: 20%; left: 35%;">
      <input type="submit" value="취소" onclick=location.href="<%=storeMainUrl%>">
    </div>
    <div id="holder"></div>
  </article>
  <script>
    var upload = document.getElementsByTagName('input')[0],
      holder = document.getElementById('holder'),
      state = document.getElementById('status');

    if (typeof window.FileReader === 'undefined') {
      state.className = 'fail';
    } else {
      state.className = 'success';
      state.innerHTML = '이미지를 선택해주세요';
    }

    upload.onchange = function(e) {
      e.preventDefault();

      var file = upload.files[0],
        reader = new FileReader();
      reader.onload = function(event) {
        var img = new Image();
        img.src = event.target.result;
        // note: no onload required since we've got the dataurl...I think! :)
        if (img.width > 300) { // holder width
          img.width = 300;
        }
        holder.innerHTML = '';
        holder.appendChild(img);
      };
      reader.readAsDataURL(file);

      return false;
    };
  </script>
</body>

</html>
