<!DOCTYPE html>
<html>
<head></head>
<body>
<form action = "/api/v1/upload" enctype="multipart/form-data" method="post">
<input type ="file" name="img_files[]" accept="image/*">
<button type="submit">submit</button>
</form>
</body>
</html>

