<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<title>searchList</title>
</head>
<body>
	<table>
		<tr>

		<span onclick=location.href='/'>	<!-- 클릭한 가게로 이동 -->
		 <td>
			<%= owner_id %><br>
			<%= store %>
		 </td>
		</span>
		</tr>
	</table>
</body>
</html>

